.contenedor{
    width: 80%;
    margin: 0 auto;
}

.container{
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px black;
}

.boton{
    margin-top: 8px;
}

.titulo{
    position: absolute;
    left: 25%;
    right: 25%;
    text-align: center;
    top: 40%;
    color: white;
    text-shadow: 3px 3px 2px rgb(150, 150, 150);
}

.imagenFondoTitulo{
    width: 100%;
    margin-bottom: 30px;
}

.boton{
    margin-bottom: 6px;
    margin-top: -30px;
}

@media (max-width: 700px) {
    .titulo{
        position: absolute;
        left: 30%;
        right: 30%;
        top: 25%;
        color: white;
        font-size: 2em;
        text-shadow: 2px 2px 2px gray;
    }
}

@media (max-width: 500px) {
    .titulo{
        position: absolute;
        left: 30%;
        right: 30%;
        top: 20%;
        color: white;
        font-size: 2em;
        text-shadow: 2px 2px 2px gray;
    }
}