body{
    font-family: 'Fira Sans', sans-serif;
}

.navbar{
    text-decoration: none;
    position: fixed;
}

.navbar-brand{
    margin-top: 15px;
}

.navbar a{
    border: 1px white solid;    
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    color: white;
}

.navbar a:hover{
    color: white;
    background: #1b7ce4;
    transition: all 1s ease;
}


.titulo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #7a78f0;
    font-size: 4em;
    text-shadow: 3px 3px 1px #ddd;
}

.contenedor{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.inicio{
    margin-top: 30px;
    margin-bottom: 20px;
}

h2{
    margin-bottom: 10px;
    color: #1b7ce4;
    text-shadow: 3px 3px 1px #ddd;
}

.nosotros{
    margin-top: 30px;
    box-shadow: 10px 10px 5px rgb(124, 123, 123);
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 12px;
}

.img1{
    margin-right: 20%;
    margin-top: 20px;
    border-radius: 10px;
}

.img2{
    border-radius: 10px;
}

.servicios{
    margin-top: 30px;
    margin-bottom: 40px;
}

.contacto{
    margin-top: 30px;
}

iframe{
    margin-bottom: 50px;
}

.titContacto{
    margin-bottom: 20px;
}

#InputName{
    margin-bottom: 13px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#333333;
    color: white;
    text-align: center;
    height: 150px;
}

.textoFooter{
    padding-top: 50px;
}

@media (max-width: 970px) {
    .titulo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 375px) {
    .titulo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
    }
}